 * {
    --cell-color1: #0341ae;
    --cell-color2: #72cb3b;
    --cell-color3: #ffd500;
    --cell-color4: #ff3213;
    --cell-color5: #943bcb;
    --cell-color6: #00ffd5;
    --cell-color7: #ff840a;
    --cell-outline-color: red  /* #1d1d1d66 */;
    --cell-outline-color-filled: #1d1d1d;
}

.main-field {
    /* background-color: var(--field-bg-color); */
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    /* margin: 10px; */
}

.cell {
    border-radius: 3pt;
    outline: var(--cell-outline-color) 2pt solid;
    outline-offset: -1pt;
}

.cell.filled-1 {
    background-color: var(--cell-color1);
}

.cell.filled-2 {
    background-color: var(--cell-color2);
}

.cell.filled-3 {
    background-color: var(--cell-color3);
}

.cell.filled-4 {
    background-color: var(--cell-color4);
}

.cell.filled-5 {
    background-color: var(--cell-color5);
}

.cell.filled-6 {
    background-color: var(--cell-color6);
}

.cell.filled-7 {
    background-color: var(--cell-color7);
}

.dark-mode * {
    --cell-outline-color: green /* #e2e2e222 */;
    --cell-outline-color-filled: #e2e2e2;
}
