InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
Diagnostics:
  ClangTidy:
    Add: [
      'readability-*',
      'google-readability-*',
      'bugprone-*',
      'llvm-*',
      'modernize*',
      'performance-*',
      'portability-*'
    ]
    Remove: [
      'readability-identifier-length',
      'google-readability-todo',
      'bugprone-easily-swappable-parameters',
      'readability-braces-around-statements',
      'bugprone-casting-through-void'
    ]
    # CheckOptions:
    #   readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
    #   readability-identifier-naming.GlobalVariableCase: CamelCase
    #   readability-identifier-naming.VariableCase: lower_case
    #   readability-identifier-naming.EnumCase: CamelCase
    #   readability-identifier-naming.EnumSuffix: _e
    #   readability-identifier-naming.EnumConstantCase: CamelCase
    #   readability-identifier-naming.StructCase: CamelCase
    #   readability-identifier-naming.StructMemberCase: lower_case
    #   readability-identifier-naming.StructSuffix: _s
    #   readability-identifier-naming.TypedefCase: CamelCase
    #   readability-identifier-naming.TypedefSuffix: _t
    #   readability-identifier-naming.FunctionCase: camelBack
    #   readability-identifier-length.IgnoredExceptionVariableNames: "^[e]$|^[i]$|^[j]$|^[k]$|^[x]$|^[y]$|^[z]$|^err$"
