.main-text {
	font-weight: bold;
	font-size: 2em;
}

.info-text {
	font-weight: bold;
	font-size: 1.5em;
}

.button-text {
	font-weight: bold;
}

 /* * {
    --cell-color1: #0341ae;
    --cell-color2: #72cb3b;
    --cell-color3: #ffd500;
    --cell-color4: #ff3213;
    --cell-color5: #943bcb;
    --cell-color6: #00ffd5;
    --cell-color7: #ff840a;
    --cell-outline-color: red  /* #1d1d1d66 *//*;
    --cell-outline-color-filled: #1d1d1d;
} */

.main-field {
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}


.cell {
    transition: none;
    background-image: none;
    background-color: transparent;
    margin: 1px;
    border: 1px solid;
    border-radius: 3pt;
    border-color: #e2e2e222;
    border-width: 2px;
}

.dark-mode .cell {
    border: 5px solid;
    border-color: #1d1d1d22;
}

.cell.filled {
    background-color: #e2e2e228;
    border-color: #e2e2e280;
}

.dark-mode .cell.filled {
    border-color: #adadad80;
}

.cell.filled.f1 {
    background-color: #0341ae;
}

.cell.filled.f2 {
    background-color: #72cb3b;
}

.cell.filled.f3 {
    background-color: #ffd500;
}

.cell.filled.f4 {
    background-color: #ff3213;
}

.cell.filled.f5 {
    background-color: #943bcb;
}

.cell.filled.f6 {
    background-color: #00ffd5;
}

.cell.filled.f7 {
    background-color: #ff840a;
}
